.button {
  display: block;
  cursor: pointer;
}

.button.ghost {
  padding: 0;
  outline: none;
  background: none;
  border: none;

  &.hover {
    opacity: 0.8;
    transition: 0.3s;
  }
}

.button.homePrimary {
  background-color: #28a745;
  color: #000;
  height: 3rem;
  padding: 0 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  transition: background-color 0.3s ease;
  min-width: 180px;

  &:hover {
    color: #fff;
    border: 2px solid #28a745;
    background-color: #000000;
  }

  &:active {
    background-color: #1e7e34;
  }
}

.button.homeSecondary {
  font-family: var(--font-inter);
  background-color: #000000;
  color: #28a745;
  height: 3rem;
  padding: 0 1rem;
  border: 2px solid #28a745;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  min-width: 180px;

  &:hover {
    background-color: #28a745;
    color: #ffffff;
  }

  &:active {
    background-color: #1e7e34;
    border-color: #1e7e34;
  }
}
