.menuNav {
  display: flex;
  gap: 2rem;
}

.menuNavItem {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 1.125rem;
  color: #47a138;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    color: #ffffff;
  }

  &:active {
    border-color: #1e7e34;
  }
}
