.buttonSecondary {
  font-family: var(--font-inter);
  background-color: #000000;
  color: #28a745;
  height: 3rem;
  padding: 0 1rem;
  border: 2px solid #28a745;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;

  &:hover {
    background-color: #28a745;
    color: #ffffff;
  }

  &:active {
    background-color: #1e7e34;
    border-color: #1e7e34;
  }
}
